html
  head
  title Contact Us
  link(rel="stylesheet", href="/stylesheets/style.css")
  body
    
  
  ul#topMenu 
      li 
            a(href="/") Home 
            a(href="/contactus") Contact Us 
  hr
  block content
  hr
  block footer 
  